body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
}
